@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#backgroundvideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}

.Title {
  font-family: 'Chakra Petch';
  font-size: 10em;
  color: white;
}

.Tag {
  font-family: 'Chakra Petch';
  font-size: 2em;
  color: white;
}

.Sidebar-Panel {
  border-radius: 25px;
}

.Main {
  display: flex;
}

.Landing {
  margin-right: 50px;
}